*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 4600px;
    position: relative;

    background-color: #0B1D26;
    color:#fff;
}
.box-img{
    position: relative;
    height: 1200px;
    
    background-image: url("..\img\fundo.png");
    background-size: cover;
    
}

header{
    /* background-color: rgba(0,0,0,0.25); */
    height: 80px;
    width: 100%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 1;
}

header .logo a{

    font-size: 32px;
    font-family: "Bentham", serif;
    font-weight: 500;
    text-decoration: none;
    color: #fff;

    display: flex;
    justify-content: center;
    flex: 1;

}
header nav {
   display: flex;
   flex: 2;
   justify-content: space-around;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;  
}
header nav ul li {
    list-style: none;    
}
header nav ul li a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration:  none;
    color:#fff;

    display:flex;
    justify-content: center;
    align-items: center;

    gap:20px;
}
.box-main{
    z-index: 2;
    position: absolute;
    top: 200px;
    left: 300px;
    width: 950px;
    padding: 10px;
 
    height: 309px;
    /* border: 1px solid red; */

    display:block;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    justify-self: center;
}
.text img {
    width: 72px;
    height: 2px;
    margin: 10px;
}
.text p{
    color: #FBD784 ;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
}
.box-main h1{
    font-family: "Bentham",serif;
    font-size: 88px;
    font-weight: 400;
    flex-wrap: wrap;
}
.scroll{
    width: 126px;
    height: 24px;

    display: flex;  
    justify-content: space-between;
    align-items: center;
}
.scroll p{
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.scroll a img {
    width: 16px;
    height: 24px;
}
.gradient {
    padding: 460px;
    position: absolute;
    top:300px;

    width: 100%;
    height: 800px;
    
    background: linear-gradient(transparent,#0B1D26);
}
main{
    position: relative;
}
.content{
    border: 1px solid yellow;
    position: absolute;
    top:1000px;

    margin: 100px;
    width: 1300px;
    height: 3040px;
}