:root{
 font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;

    background-color: #0B1D26;
    color:#fff;
}
.box-img{
    position: relative;
    min-height: 120rem;
    
    background-image: url("../img/fundo.png");
    background-size: cover;
    
}

header{
    /* background-color: rgba(0,0,0,0.25); */
    min-height: 8rem;
    width: 100%;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 1;
}

header .logo a{

    font-size: 3.2rem;
    font-family: "Bentham", serif;
    font-weight: 500;
    text-decoration: none;
    color: #fff;

    display: flex;
    justify-content: center;
    flex: 1;

}
header nav {
   display: flex;
   flex: 2;
   justify-content: space-around;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;  
}
header nav ul li {
    list-style: none;    
}
header nav ul li a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration:  none;
    color:#fff;

    display:flex;
    justify-content: center;
    align-items: center;

    gap:2rem;
}
.box-main{
    z-index: 2;
    position: absolute;
    top: 20rem;
    left: 30rem;
    max-width: 95rem;
    padding: 1rem;
 
    min-height: 30.9rem;
    /* border: 1px solid red; */

    display:block;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    justify-self: center;
}
.text img {
    min-width: 7.2rem ;
    min-height: 0.2rem ;
    margin: 1rem;
}
.text p{
    color: #FBD784 ;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
}
.subtext p{
    text-transform: lowercase;
}

.box-main h1{
    font-family: "Bentham",serif;
    font-size: 8.8rem ;
    font-weight: 400;
    flex-wrap: wrap;
}
.scroll{
    max-width: 12.6rem ;
    max-height: 2.4rem;

    display: flex;  
    justify-content: space-between;
    align-items: center;
}
.scroll p{
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
}
.scroll a img {
    min-width: 1.6rem;
    min-height: 2.4rem;
}
.gradient {
    padding: 46rem;
    position: absolute;
    top:30rem;

    width: 100%;
    min-height: 80rem;
    
    background: linear-gradient(transparent,#0B1D26);
}
main{
    position: relative;
}
.content{
    /* border: 1px solid yellow; */
    position: absolute;
    top:100rem;

    margin-right: 20rem;
    margin-left: 20rem;

    min-width: 110rem;
    min-height: 304rem;
}
article{
    /* border: 1px solid pink; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 110rem;
    min-height: 72rem;
    /* margin-bottom: 5rem; */
}

article main{
    margin-top: 8rem;
    padding-left: 14rem;

}
main div + h3 + p{
    padding-top: 3rem;
}
article span {
    position: absolute;
    font-size: 24rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    opacity: 10%;
}
#one{
   top: 5rem;
}

.titles {
    font-family: "Bentham",serif;
    font-size: 4.2rem ;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.2rem;
    margin-left: 2rem;

}
h3 + p {
    line-height: 3rem;
}
article div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
article main p {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    margin-left: 2rem;
}
article figure img{
    height: 54rem;
    padding-left: 7rem;
}
.subtext{
    max-width: 18rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subtext a img {
    min-width: 1.2rem;
    min-height: 1rem;
}